<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let item of characters">
      <div class="card h-100 border-0" style="width: 18rem;">

       <img src="{{item.imageUrl}}" class="card-img-top h-50 shadow-lg " alt="..."(click)="goDetail(item)" >

        <div class="card-body">
          <h3 class="card-title">{{item.name}}</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>

        </div>
       

      </div>
    </div>
  </div>